
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sevillana&display=swap');

body {
    background-image: url('imagem-de-fundo.jpeg');
    background-color: rgb(255, 255, 255);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    height: 100vh; /* Preenche a altura total da viewport */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

h1 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 2.5rem; /* Tamanho da fonte */
    color: #361d05; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Espaçamento entre letras */
    
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
}

section input {
    width: 30rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #a17b58; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: center; /* Alinha o texto ao centro */
}

section button {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: #d8b689; /* Cor de fundo do botão */
    color: #a37217; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}



/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #4e4331; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 82rem; /* Largura máxima da caixa de resultados */
    height: 32vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: #ce9f80; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    width: 70rem; /* Largura máxima da caixa de resultados */
    height: 38vh; /* Altura máxima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    opacity: 0.9;
    box-shadow: 0 9px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #745125; /* Cor do texto */
    height: fit-content;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #c4cbda; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

/* Estiliza o rodapé da página */
footer {
    background-color: #503502; /* Cor de fundo do rodapé */
    color: #f8f0e0; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding:0; /* Espaçamento interno */
    left: 0;
    width: 99.9%; /* Largura total da página */
    position: fixed; /* Posiciona o rodapé */
    margin-top: 20px;
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
    line-height: 0.5; /* Ajusta o espaçamento entre linhas conforme necessário */
}

footer a {
    /* Estilos para os links dentro do rodapé */
    color: #e7ac85; /* Cor do texto do link */
    text-decoration: none; /* Remove o sublinhado padrão */
    transition: color 0.3s ease; /* Adiciona uma transição suave para a cor */
  }

footer a:hover {
    /* Estilos para quando o mouse passa por cima do link */
    color: #b18e67; /* Cor do link ao passar o mouse */
  }